
#formDiv {
  display: flex;
  align-items: flex-start;
  width: 400px;
  border: solid black 0.25rem;
  border-radius: 10px;
  flex-direction: column;

  form {
    margin: 0.25rem 1rem;

    button {
      margin: 10px;
    }
  }
}



